# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

POSTGRES_URL="postgresql://root:admin@localhost:5432/db_crm"
POSTGRES_PRISMA_URL="postgresql://root:admin@localhost:5432/db_crm?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://root:admin@localhost:5432/db_crm"
POSTGRES_USER=root
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=admin
POSTGRES_DATABASE=db_crm

# `openssl rand -base64 32`
AUTH_SECRET=obtpMOYA9+YESG/GbsmFIPyBmQgXrCn0J3DSyK5/OJw=
AUTH_URL=http://localhost:3000/api/auth